{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}password_change_form.html{% endblock %}

{% block content %}
<div class="wrap">
    <div class="content">
        <h1>{{ title }}</h1>
        <p class="desc">비밀번호 변경</p>

        {% if form.errors %}
        <script>
            window.onload = function () {
                var error = {general: "{% if form.errors %}true{% else %}false{% endif %}"};

                if (error.general === "true") {
                    alert("비밀번호 변경 오류:\n 올바른 비밀번호를 입력하세요");
                }
            };
        </script>
        {% endif %}

        <form action="." method="post" class="card">{% csrf_token %}
            <div class="form-group">
                <label for="old_password" class="label">현재 비밀번호</label>
                <div>
                    {{ form.old_password|add_class:"form-input"|attr:"autofocus" }}
                </div>
            </div>
            <div class="form-group">
                <label for="new_password1" class="label">새 비밀번호</label>
                <div>
                    {{ form.new_password1|add_class:"form-input" }}
                </div>
            </div>
            <div class="form-group">
                <label for="new_password2" class="label">새 비밀번호 확인</label>
                <div>
                    {{ form.new_password2|add_class:"form-input" }}
                </div>
            </div>

            <div class="form-group">
                <div class="btn-row">
                    <button type="submit" class="btn">비밀번호 변경</button>
                </div>
            </div>
        </form>
    </div>
</div>
<footer class="chat-footer">
  <div class="footer-info">
    04107 서울특별시 마포구 백범로 35 (신수동) 서강대학교 | 02-705-8114
  </div>
  <div class="footer-copy">
    COPYRIGHT&copy; SOGANG UNIVERSITY. ALL RIGHTS RESERVED.
  </div>
</footer>

{% endblock %}