{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}login.html{% endblock %}

{% block styles %}
<style>
    .content {
        margin-left: 80px;
        margin-right: 80px;
    }

    .btn-row {
  display: flex;
  justify-content: flex-start;
  gap: 20px;             /* 버튼 간 간격 */
  margin-left: 262px;    /* 왼쪽 정렬 위치 */
}

</style>
{% endblock %}

{% block content %}
<div class="content">
    <h1>로그인</h1>
    <p class="font-italic">ID와 비밀번호를 입력하세요.</p>

    {% if form.errors %}
    <div class="alert-danger">
        <div class="font-weight-bold">Error.</div>
        {{ form.errors }}
    </div>
    {% endif %}

    <form action="." method="post" class="card pt3">{% csrf_token %}
        <br>
        <div class="form-group row">
            {{ form.username|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.username|add_class:"form-control"|attr:"autofocus" }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.password|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.password|add_class:"form-control" }}
            </div>
        </div>

        <div class="form-group">
            <div class="btn-row">
              <input type="submit" value="로그인" class="sub_btn" />
              <input type="hidden" name="next" value="{{ next }}" />
              <a href="{% url 'register' %}" class="sub_btn">회원가입</a>
            </div>
          </div>
          
    </form>
</div>
{% endblock %}