{% extends "base.html" %}

{% block title %}password_change_done.html{% endblock %}

{% block content %}
<div class="wrap">
    <div class="content">
        <h1>{{ title }}</h1>
        <br>
        <p>비밀번호가 변경되었습니다.</p>

        <p><a href="{% url 'chatbot' %}" class="btn">확인</a></p>
    </div>
</div>
<footer class="chat-footer">
  <div class="footer-info">
    04107 서울특별시 마포구 백범로 35 (신수동) 서강대학교 | 02-705-8114
  </div>
  <div class="footer-copy">
    COPYRIGHT&copy; SOGANG UNIVERSITY. ALL RIGHTS RESERVED.
  </div>
</footer>
{% endblock %}